<%- include('partials/mainheader.ejs') -%> 
<!-- Contact section -->
<section class="contact-section">
    <div class="contact-warp set-bg" data-setbg="img/blog/big.jpg">
        <div class="container">
            <div class="row">
                <div class="col-lg-5">
                    <div class="contact-info">
                        <h4>Information</h4>
                        <div class="ci-item"><i class="icon_phone"></i>0121-250007</div>
                        <div class="ci-item"><i class="icon_mail"></i>newwebsite@gmail.com</div>
                    </div>
                    <div class="contact-info">
                        <h4>Address</h4>
                        <div class="ci-item"><i class="icon_pin"></i>lucknow, uttarpradesh</div>
                    </div>
                </div>
                <div class="col-lg-7">
                    <form class="contact-form">
                        <label for="y-name">Your Name:</label>
                        <input type="text" id="y-name">
                        <label for="y-email">Email Address:</label>
                        <input type="text" id="y-email">
                        <label for="y-msg">Leave A Message:</label>
                        <textarea id="y-msg"></textarea>
                        <button class="site-btn">Send Us Now</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Contact section end -->



<%- include('partials/mainfooter.ejs') -%> 