<%- include('partials/mainheader.ejs') -%> 

	<!-- Hero section -->
	<section class="hero-section">
		<div class="hero-slider owl-carousel">
			<div class="hero-item">
				<div class="hero-text">
					
					<h2>Mehul Varshney</h2>
					<p>Photography is my passion. I am a budding photographer from India and I specialise in potrait shoots</p>
					<a href="/portfolio" class="ht-btn">Check it out <i class="arrow_right"></i></a>
				</div>
				<div class="hi-bg set-bg" data-setbg="img/slider-1.jpg"></div>
			</div>
			<div class="hero-item">
				<div class="hero-text">
					<h2>Mehul Varshney</h2>
					<p>Photography is my passion. I am a budding photographer from India and I specialise in potrait shoots</p>

					<a href="/portfolio" class="ht-btn">Check it out <i class="arrow_right"></i></a>
				</div>
				<div class="hi-bg set-bg" data-setbg="img/slider-2.jpg"></div>
			</div>
			<div class="hero-item">
				<div class="hero-text">
					<h2>Mehul Varshney</h2>
					<p>Photography is my passion. I am a budding photographer from India and I specialise in potrait shoots</p>

					<a href="/portfolio" class="ht-btn">Check it out <i class="arrow_right"></i></a>
				</div>
				<div class="hi-bg set-bg" data-setbg="img/slider-3.jpg"></div>
			</div>
		</div>
	</section>
	<!-- Hero section end -->



<%- include('partials/mainfooter.ejs') -%> 