<%- include('partials/mainheader.ejs') -%>
<!-- Gallery section -->
<section class="gallery-section">
  <div class="row gallery-gird">
    <div class="col-lg-4 col-xl-3 col-sm-6">
      <a class="gallery-item fresco" href="img/projects/1.jpg" data-fresco-group="projects">
        <img src="img/projects/1.jpg" alt="">
        <div class="gi-text">
          <h4>Forest and Nature</h4>
          <p>Natures / Tree</p>
        </div>
      </a>
    </div>
    <div class="col-lg-4 col-xl-3 col-sm-6">
      <a class="gallery-item fresco" href="img/projects/2.jpg" data-fresco-group="projects">
        <img src="img/projects/2.jpg" alt="">
        <div class="gi-text">
          <h4>Forest and Nature</h4>
          <p>Natures / Tree</p>
        </div>
      </a>
    </div>
    <div class="col-lg-4 col-xl-3 col-sm-6">
      <a class="gallery-item fresco" href="img/projects/3.jpg" data-fresco-group="projects">
        <img src="img/projects/3.jpg" alt="">
        <div class="gi-text">
          <h4>Forest and Nature</h4>
          <p>Natures / Tree</p>
        </div>
      </a>
    </div>
    <div class="col-lg-4 col-xl-3 col-sm-6">
      <a class="gallery-item fresco" href="img/projects/4.jpg" data-fresco-group="projects">
        <img src="img/projects/4.jpg" alt="">
        <div class="gi-text">
          <h4>Forest and Nature</h4>
          <p>Natures / Tree</p>
        </div>
      </a>
    </div>
    <div class="col-lg-4 col-xl-3 col-sm-6">
      <a class="gallery-item fresco" href="img/projects/5.jpg" data-fresco-group="projects">
        <img src="img/projects/5.jpg" alt="">
        <div class="gi-text">
          <h4>Forest and Nature</h4>
          <p>Natures / Tree</p>
        </div>
      </a>
    </div>
    <div class="col-lg-4 col-xl-3 col-sm-6">
      <a class="gallery-item fresco" href="img/projects/6.jpg" data-fresco-group="projects">
        <img src="img/projects/6.jpg" alt="">
        <div class="gi-text">
          <h4>Forest and Nature</h4>
          <p>Natures / Tree</p>
        </div>
      </a>
    </div>
    <div class="col-lg-4 col-xl-3 col-sm-6">
      <a class="gallery-item fresco" href="img/projects/7.jpg" data-fresco-group="projects">
        <img src="img/projects/7.jpg" alt="">
        <div class="gi-text">
          <h4>Forest and Nature</h4>
          <p>Natures / Tree</p>
        </div>
      </a>
    </div>
    <div class="col-lg-4 col-xl-3 col-sm-6">
      <a class="gallery-item fresco" href="img/projects/8.jpg" data-fresco-group="projects">
        <img src="img/projects/8.jpg" alt="">
        <div class="gi-text">
          <h4>Forest and Nature</h4>
          <p>Natures / Tree</p>
        </div>
      </a>
    </div>
    <div class="col-lg-4 col-xl-3 col-sm-6">
      <a class="gallery-item fresco" href="img/projects/11.jpg" data-fresco-group="projects">
        <img src="img/projects/11.jpg" alt="">
        <div class="gi-text">
          <h4>Forest and Nature</h4>
          <p>Natures / Tree</p>
        </div>
      </a>
    </div>
    <div class="col-lg-4 col-xl-3 col-sm-6">
      <a class="gallery-item fresco" href="img/projects/9.jpg" data-fresco-group="projects">
        <img src="img/projects/9.jpg" alt="">
        <div class="gi-text">
          <h4>Forest and Nature</h4>
          <p>Natures / Tree</p>
        </div>
      </a>
    </div>
    <div class="col-lg-4 col-xl-3 col-sm-6">
      <a class="gallery-item fresco" href="img/projects/10.jpg" data-fresco-group="projects">
        <img src="img/projects/10.jpg" alt="">
        <div class="gi-text">
          <h4>Forest and Nature</h4>
          <p>Natures / Tree</p>
        </div>
      </a>
    </div>
    <div class="col-lg-4 col-xl-3 col-sm-6">
      <a class="gallery-item fresco" href="img/projects/12.jpg" data-fresco-group="projects">
        <img src="img/projects/12.jpg" alt="">
        <div class="gi-text">
          <h4>Forest and Nature</h4>
          <p>Natures / Tree</p>
        </div>
      </a>
    </div>
    <div class="col-lg-4 col-xl-3 col-sm-6">
      <a class="gallery-item fresco" href="img/projects/13.jpg" data-fresco-group="projects">
        <img src="img/projects/13.jpg" alt="">
        <div class="gi-text">
          <h4>Forest and Nature</h4>
          <p>Natures / Tree</p>
        </div>
      </a>
    </div>
    <div class="col-lg-4 col-xl-3 col-sm-6">
      <a class="gallery-item fresco" href="img/projects/15.jpg" data-fresco-group="projects">
        <img src="img/projects/15.jpg" alt="">
        <div class="gi-text">
          <h4>Forest and Nature</h4>
          <p>Natures / Tree</p>
        </div>
      </a>
    </div>
    <div class="col-lg-4 col-xl-3 col-sm-6">
      <a class="gallery-item fresco" href="img/projects/16.jpg" data-fresco-group="projects">
        <img src="img/projects/16.jpg" alt="">
        <div class="gi-text">
          <h4>Forest and Nature</h4>
          <p>Natures / Tree</p>
        </div>
      </a>
    </div>
    <div class="col-lg-4 col-xl-3 col-sm-6">
      <a class="gallery-item fresco" href="img/projects/14.jpg" data-fresco-group="projects">
        <img src="img/projects/14.jpg" alt="">
        <div class="gi-text">
          <h4>Forest and Nature</h4>
          <p>Natures / Tree</p>
        </div>
      </a>
    </div>
  </div>
  <div class="text-center pt-5">
    <button class="site-btn">Load More</button>
  </div>
</section>
<!-- Gallery section end -->

   



<%- include('partials/mainfooter.ejs') -%> 

